@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">FIND YOUR DREAM CAR</h1>
    <img src="https://img.freepik.com/premium-vector/car-company-logo-template_674522-78.jpg?w=2000" style="width:30%;">

</div>
