@page
@model CarRentalCompany.Pages.Colours.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Colour</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colour[0].Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colour[0].Name)
        </dd>
    </dl>
</div>
@await Html.PartialAsync("_DetailButtonsPartial", Model.Colour[0].Id)

