@page
@model CarRentalCompany.Pages.Cars.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Car.Id" />
            <div class="form-group">
                <label asp-for="Car.BrandId" class="control-label"></label>
                <select id="brands" class="form-control" asp-for="Car.BrandId" asp-items="Model.Brands">
                    <option>Select Brand</option>
                </select>
                <span asp-validation-for="Car.BrandId" class="text=danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.CarModelId" class="control-label"></label>
                <select id="models" class="form-control" asp-for="Car.CarModelId">
                    <option>Select Model</option>
                </select>
                <span asp-validation-for="Car.CarModelId" class="text=danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.ColourId" class="control-label"></label>
                <select class="form-control" asp-for="Car.ColourId" asp-items="Model.Colours">
                    <option>Select Colour</option>
                </select>
                <span asp-validation-for="Car.ColourId" class="text=danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Year" class="control-label"></label>
                <input asp-for="Car.Year" class="form-control" />
                <span asp-validation-for="Car.Year" class="text=danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
                <a class="btn btn-outline-primary" asp-page="Index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/CascadingModelsDropdownListScript.js" modelId="@Model.Car.CarModelId">
    </script>
}